@charset "utf-8";
/* CSS Document */
body, dd, dl, dt, fieldset, form,div, h1, h2, h3, h4, h5, h6, li, ol, p, ul,hr {padding:0px;margin:0px;}
body,td,th,input,select,textarea { font-family: Arial; font-size:12px; }
body{text-align:center}
a:visited, a:active, a:link{text-decoration:none; }
a:hover{text-decoration: underline;}
.clear { clear:both; }
img { border:none; }
h1{ font-size:20px;}
h2{font-size:18px;}
h3{font-size:16px;}
h4{font-size:14px;}
h1,h2,h3,h3,h4,h5,h6{line-height:1.6em;}
.clear{clear:both;}
small{font-size:11px; font-weight:normal;}
.small{font-size:9px;}
ul{list-style:none}


.opacity{-moz-opacity:.3;filter:alpha(opacity=30);opacity:.3;}
.icon{vertical-align:text-bottom;}


.pager{height:22px; margin:2px;}
.page1,.page2{padding:2px 7px 2px 7px; margin-right:2px; border:1px solid #d9d9d9}

#outter{ text-align:center;margin:0px auto; width:990px; overflow:hidden}
#inner{text-align:left; margin:0px 3px;}
#header{text-align:left; padding:0px 3px; height:80px;position:relative; }
#content { margin:0px; }


#footer {color:#CCC; text-align:center; padding:10px 5px; line-height:1.8em; font-size:10px }
#footer a { color:#ccc; }
#ads468{position:absolute; right:10px; bottom:12px;}
#slogan{position:absolute; left:10px; bottom:5px; text-align:left}
#header h1{font-size:21px}
#header h1 a{text-shadow: #fff 3px 3px 0px}
#header h2{font-size:10px; font-weight:normal}
#slogan div{font-size:10px; font-weight:normal;color:#99}
#logo{display:block; width:400px; height:100px;}

#leftbox{float:right; width:789px; margin:px;}
#rightbox{float:left; width:180px;overflow:hidden; margin:0px}
.inbox{ margin:5px 0px;}
#find{width:20px;height:20px;background:#efefef url(images/admin/search.gif) center center no-repeat;border:1px solid #cfcfcf;margin:0px 5px 0px 3px;cursor:pointer;}


#sidebar {padding:5px 0 1px 0px; width:100%; position:relative;}
#menu{margin:0px;list-style: none;position:relative;padding: 0 0 0 5px}
#menu a {display: block;text-decoration: none;padding: 5px 10px 5px 10px;}
#menu li {float: left;width: 9em;position:relative;}
#menu li:hover ul{display: block; z-index:9}
#menu li {width: auto;}

#menu li img{vertical-align:middle; margin:0px 5px 3px 0px;}


hr.ln{size:1px; margin:5px 20px;border:none;border-top:1px dashed #CCCCCC; clear:both}

.reset,.button,.submit {background-color:#E3E3E3;border-color:#EEEEEE #888888 #888888 #EEEEEE;border-style:solid;border-width:1px;color:#666666;font-size:12px;font-weight:bold;margin:0px; padding:3px 10px;overflow:visible;}
.submit{cursor:pointer; color:#000}
.tbox,.tboxerror{padding:3px;scrollbar-face-color: #dddddd;scrollbar-highlight-color: #ffffff;scrollbar-shadow-color: #dddddd;scrollbar-3dlight-color: #ddddddd;scrollbar-arrow-color: #c4c4c4;scrollbar-track-color: #f5f5f5;scrollbar-darkshadow-color: #c4c4c4;background-color: #F9F9F9;color:#333333;border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #f6f6f6; border-bottom:1px solid #f6f6f6;font-size:11px;}
.submitdiscount{background:url(images/searchdiscount.png) center center no-repeat; width:95px; height:28px; border:none; cursor:pointer;}

.tbproduct td{vertical-align:middle; border-bottom:1px solid #e0e0e0; height:80px;}
.tbproduct .img{width:120px; text-align:center; }
.tbproduct .detail{font-size:11px}
.tbproduct h4 a{font-size:16px; font-weight:normal; text-decoration:underline; color:#237AAE}
.tbproduct p{font-size:11px; line-height:1.6em}
.tbproduct .offer{clear:both}
.tbproduct .offer li{list-style:inside disc; float:left; margin:0px 10px 0px 0px;}
.tbproduct .offer a{color:#00F;}

.tbproduct .price{width:120px; text-align:center; font-size:12px}
.tbproduct .listprice{ font-size:13px; color:#666}
.tbproduct .gostore{ width:120px; display:block; height:22px; margin:3px auto; text-align:center; line-height:22px; background:#F70; color:#FFFFFF; font-size:12px; font-weight:bold;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.gostore2{ width:120px; display:block; height:22px; margin:3px 0px; text-align:center; line-height:22px; background:#F70; color:#FFFFFF; font-size:12px; font-weight:bold;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}

#share{display:none; background:#fff; border:1px solid #ddd; width:120px;}
#share ul{padding:5px}
#share ul li a{display:block; height:20px; line-height:20px; padding:0 10px 0px 25px; text-align:left}
#share ul li a.tw{background:url(images/admin/twitter.png) left center no-repeat}
#share ul li a.fb{background:url(images/admin/facebook.png) left center no-repeat}
#share ul li a.em{background:url(mages/admin/email.gif) left center no-repeat}
.onav{color:#237AAE; padding-right:15px; background:url(images/admin/menu_split.gif) right center no-repeat}


.ioffer{background:#074A6F}
.ioffer th{text-align:center; background:#237AAE; color:#FFF}
.ioffer td{text-align:center; background:#fff}
.ioffer tr.low td{background:#F3FFE8}

.reviews{margin-bottom:10px;padding:10px; border:1px solid #ccc; font-size:11px;}
.reviews .v1{margin-bottom:5px; padding-bottom:5px; border-bottom:1px dashed #ddd}
.reviews .v2{text-indent:10px}


#recommend a{ line-height:22px; height:22px; overflow:hidden; display:block; text-align:left; padding-left:22px; background:url(images/bullet.gif) 5px center no-repeat; font-size:10px}
#recommend li{border-bottom:1px dashed #dfdfdf;}
#recommend{clear:both}
#recommend span{font-size:9px}

.post{clear:both; margin:5px}
.cover{clear:both}
.catelist li a{display:block; height:22px; line-height:22px; overflow:hidden; font-size:11px; padding-left:20px; background:url(images/bullet.gif) left center no-repeat; margin:0px 5px 0px 10px}
.catelist{max-height:500px; overflow:auto}


#rightbox h2{font-size:14px; overflow:hidden;padding:5px 10px 3px; margin:2px 0px 3px;}
.boxmenu_name,.boxfull_name,#rightbox h2{padding-left:10px}

.ctle{margin:3px; padding-left:21px;}


#discount,#discount td{font-size:10px;}
#discount td{ border-top:1px dashed #f0f0f0;border-bottom:1px dashed #d0d0d0; padding:2px 2px 2px 0px;}

#catel{width:180px; overflow:hidden}
#catel li a{display:block; height:26px; line-height:26px; overflow:hidden; padding-left:25px; background:url(images/admin/search.gif) 5px center no-repeat; border-bottom:1px solid #eee; color:#555;text-shadow: #fff 1px 1px 0px; font-weight:bold;}
#catel h3 {padding: 0;margin: 0 0 3px 0;background: url(images/trigger.png) no-repeat;height: 27px;line-height: 27px;width: 180px;font-size: 12px;font-weight: normal;float: left;}
#catel h3 a {color: #fff;text-decoration: none;display: block;padding: 0 0 0 30px;}
#catel h3 a:hover {color: #ccc;}
#catel h3.active {background-position: left bottom;}
#catel ul {margin: 0 0 5px; padding: 0;overflow: hidden;font-size: 11px;width: 178px;clear: both;background: #fff;border: 1px solid #d6d6d6;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; }

.gallery h2 a{font-size:12px}
.gallery p,.gallery p a{ font-size:9px; color:#999}
.gallery  small{font-weight:bold}
.gallery a:hover{ }
.gallery{width:200px; overflow:hidden;text-align:center; padding:4px; border:1px solid #ccc;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; vertical-align:top }
.gallery h2{font-size:12px; font-weight:normal}

h3.tabs{border-bottom:3px solid #ccc;padding-right: 10px;margin-top: 3px;text-align:right;line-height:1.4em;font-size:12px; font-weight:normal; margin-bottom:5px; height:20px; clear:both}
h3.tabs a{background: #eee;padding: 4px 15px;margin: 0 1px;font-weight:normal;border: 1px solid #ddd;}
h3.tabs a.on{font-size:12px;color:#F90;font-weight:bold;background:#ffffff;border: 1px solid #ccc;border-bottom: 1px solid #fff;}
h3.tabs a:hover { color:#ffffff; background: #F90}
h3.tabs a.on:hover { color:#F90; background: #ffffff}

.feature{list-style:inside circle}


.barfull{font-size:14px; overflow:hidden;padding:5px 10px 3px; margin:2px 0px 3px;padding-left:20px}
.sreview{width:300px; overflow:hidden; float:left;}
.sreview li{ line-height:1.8em; height:1.8em; overflow:hidden; padding-left:10px;}
#leftbox .sreview{margin:0px 10px;}

.pagebar {
	padding: 0.2em 0.5em;
	margin-right: 0.1em;
	margin-bottom: 1.0em;
	border: 1px solid #fff;
	background: #fff;
	text-decoration: none;
	text-align: center;
}

.pagebar a,.pageList .this-page {
	border: 1px solid #9AAFE5;
	text-decoration: none;
	padding: 0.2em 0.5em;
}

.pagebar a:visited {
	border: 1px solid #9AAFE5;
	text-decoration: none;
	padding: 0.2em 0.5em;
}

.pagebar .break {
	padding: 2px 6px 2px 6px;
	border: none;
	background: #fff;
	text-decoration: none;
}

.pagebar .this-page {
	border: 1px solid #2E6AB1;
	padding: 0.2em 0.5em;
	font-weight: bold;
	background: #2E6AB1;
	color: #fff;
}

.pagebar a:hover {
	border-color: #2E6AB1;
}

.pagebar .inactive
{
   border: 1px solid #cccccc;
	 color: #ccc;
   text-decoration: none;
   padding: 0.2em 0.5em;
}

#dagoncontent {	padding: 6px 2px 5px 2px;	font-size: 1.0em;}
#dagoncontent ul, #dagoncontent ol {	margin: 10px 0 12px 30px;	padding: 0;}
#dagoncontent li {	margin: 0 0 5px 0;	padding: 0;	line-height: 150%;	font-size: 1.0em;}
#dagoncontent ul li {	list-style-image: url(images/dagon1.gif);	list-style-type: none; }
#dagoncontent ul li li {	list-style-image: url(images/dagon2.gif) }